body {
  margin: 0px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

section {
  height: 95vh;
  padding: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-form {
  width: 100%;
  padding: 5%;
  border: 1px solid var(--blue);
  border-radius: 25px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  flex: 1;
}

/* 🔑🔒 Here are our media queries which define 
the styles based on the screen size */

@media only screen and (max-width: 800px) {
  section {
    padding: 5%;
    width: 100%;
    background-color: red;
  }

  form {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  section {
    padding: 5%;
    width: 100%;
    background-color: white;
  }

  form {
    flex-direction: column;
  }
}


@media only screen and (max-width: 600px) {
  section {
    padding: 5%;
    width: 100%;
    background-color: blue;
  }

  form {
    flex-direction: column;
  }
}

